.fade-enter-active
  transition  opacity .5s cubic-bezier(0,0,.58,1) 
.fade-leave-active 
  transition opacity 1s cubic-bezier(.42,0,1,1)

.fade-enter, 
.fade-leave-to 
  opacity 0

.latefade-enter-active
  transition  opacity 1s .3s cubic-bezier(0,0,.58,1) 
.latefade-leave-active 
  transition opacity 1s cubic-bezier(.42,0,1,1)

.latefade-enter, 
.latefade-leave-to 
  opacity 0


.laterfade-enter-active
  transition  opacity 1s .8s cubic-bezier(0,0,.58,1) 
.laterfade-leave-active 
  transition opacity 1s cubic-bezier(.42,0,1,1)

.laterfade-enter, 
.laterfade-leave-to 
  opacity 0